@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 240 5% 98%;
      --foreground: 240 5% 20%;
      --card: 0 0% 100%;
      --card-foreground: 240 5% 30%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 5% 30%;
      --primary: 192 76% 42%;
      --primary-foreground: 0 0% 95%;
      --secondary: 240 5% 92.5%;
      --secondary-foreground: 240 5% 30%;
      --muted: 240 5% 95%;
      --muted-foreground: 0 0% 60%;
      --accent: 240 5% 95%;
      --accent-foreground: 240 5% 20%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 0 0% 100%;
      --success: 160 65% 90%;
      --success-foreground: 160 65% 40%;
      --error: 0 85% 92%;
      --error-foreground: 0 85% 50%;
      --border: 240 5% 92%;
      --input: 240 5% 92%;
      --ring: 192 76% 42%;
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 240 5% 12.5%;
      --foreground: 0 0% 80%;
      --card: 240 5% 15%;
      --card-foreground: 0 0% 90%;
      --popover: 240 5% 15%;
      --popover-foreground: 0 0% 90%;
      --primary: 192 76% 42%;
      --primary-foreground: 0 0% 95%;
      --secondary: 240 5% 22.5%;
      --secondary-foreground: 0 0% 90%;
      --muted: 240 5% 20%;
      --muted-foreground: 0 0% 60%;
      --accent: 240 5% 20%;
      --accent-foreground: 0 0% 90%;
      --destructive: 0 70% 40%;
      --destructive-foreground: 0 0% 100%;
      --success: 160 65% 20%;
      --success-foreground: 160 65% 70%;
      --error: 0 85% 20%;
      --error-foreground: 0 85% 80%;
      --border: 240 5% 22.5%;
      --input: 240 5% 22.5%;
      --ring: 192 76% 42%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }